
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.min.css';

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}





.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.add-btn {
  color: #ffffff;
  background-color: #4dc0b5;
  border-color: #4dc0b5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.add-btn:hover {
  color: #ffffff;
  background-color: rgb(116, 202, 194);
  border-color: #52a199;
}

.add-btn:focus, .add-btn.focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.add-btn.disabled, .add-btn:disabled {
  color: #ffffff;
  background-color: #4dc0b4;
  border-color: #4dc0b5;
}

.add-btn:not(:disabled):not(.disabled):active, .add-btn:not(:disabled):not(.disabled).active,
.show > .add-btn.dropdown-toggle {
  color: #ffffff;
  background-color: #4dc0b5;
  border-color: #4dc0b5;
}

.add-btn:not(:disabled):not(.disabled):active:focus, .add-btn:not(:disabled):not(.disabled).active:focus,
.show > .add-btn.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}